.todo-wrap {
	width: 100%;
	flex-shrink: 0;
	display: flex;
	align-items: start;
	background-color: var(--background-dark-gray);
	padding: 10px 20px;
	border-radius: 25px;
	position: relative;
}

.todo-title {
	flex: 1;
	font-size: 16px;
	font-weight: 400;
	word-break: break-word;
	white-space: pre;
	text-wrap: wrap;
}

.todo-btn-wrap {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 5px;
	display: none;
	position: absolute;
	top: 7px;
	right: 10px;
	background-color: var(--background-primary);	
	border-radius: 25px;
    padding: 0 5px;
}

.todo-wrap:hover .todo-btn-wrap {
	display: flex;
}

.todo-btn {
	width: 25px;
	height: 100%;
	background-color: transparent;
	border: none;
	padding: 5px;
	margin: 3px;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 25px;
	cursor: pointer;
	transition: all;
	transition-duration: 300ms;
}

.todo-btn:hover {
	background-color: var(--background-light-gray);	
}

.todo-done-wrap {
	background-color: var(--background-secondary);
}

.todo-done-wrap .todo-title {
	text-decoration: line-through;
	opacity: .3;
}

.todo-done-wrap .todo-done-btn {
	rotate: 45deg;
}